{% extends 'portal/base.html' %} 
{% block title %}
    {{ mode|title }} Event
{% endblock %} 

{% block content %}
<div class="container mx-auto px-6 py-12">
    <h1 class="text-3xl font-bold mb-8">{{ mode|title }} Event</h1>
    <form
        method="post"
        class="card"
    >
        {% csrf_token %}
        <div class="space-y-6">
            
            {% for field in form %}
            <div class="form-field">
                {{ field.label_tag }}

                {% if field.name == 'event_mode' or field.name == 'event_status' %}
                    <select name="{{ field.html_name }}" id="{{ field.id_for_label }}">
                        {% for choice, label in field.field.choices %}
                            <option value="{{ choice }}"{% if field.value == choice %} selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                {% elif field.name in 'registration_start registration_end event_start event_end' %}
                    <input
                        type="datetime-local"
                        name="{{ field.html_name }}"
                        id="{{ field.id_for_label }}"
                        value="{{ field.value|date:'Y-m-d\TH:i' }}"
                    />
                    
                {% else %}
                    <input
                        type="{{ field.field.widget.input_type }}"
                        name="{{ field.html_name }}"
                        id="{{ field.id_for_label }}"
                        value="{{ field.value|default_if_none:'' }}"
                    />
                {% endif %}

                {% if field.help_text %}
                    <p class="help">
                        {{ field.help_text }}
                    </p>
                {% endif %}

                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            </div>
        <div class="mt-8 flex justify-end gap-4">
            <a
                href="{% url 'manager_dashboard' %}"
                class="button-secondary"
            >
                Cancel
            </a>
            <button
                type="submit"
                class="button-primary"
            >
                {{ mode|title }} Event
            </button>
        </div>
    </form>
</div>
{% endblock %}